<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>esegeijyutuka_1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1DE8F8B32580DAAD001E174F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DE8F8C92580DABD001E174F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DE8F8D42580DABD001E174F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
